.btn {
  display: inline-block;
  border: none;
  padding: 15px 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21.6px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $light-color;
  background-color: $primary-color;
  cursor: pointer;
}
