<section class="hero">
  <div class="container">
    <div class="border-block hero__block flex">
      <div class="hero__left">
        <div class="hero__ujjo">
          <img src="img/ujjo.svg" alt="Ujjo">
        </div>
        <div class="hero__phrase ticker">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              <img src="img/pepper.svg" alt="" class="ticker__icon" aria-hidden="true">
              <span>put some fire in your belly</span>
            </div>
            <div class="ticker__item">
              <img src="img/pepper.svg" alt="" class="ticker__icon" aria-hidden="true">
              <span>put some fire in your belly</span>
            </div>
            <div class="ticker__item">
              <img src="img/pepper.svg" alt="" class="ticker__icon" aria-hidden="true">
              <span>put some fire in your belly</span>
            </div>
            <div class="ticker__item">
              <img src="img/pepper.svg" alt="" class="ticker__icon" aria-hidden="true">
              <span>put some fire in your belly</span>
            </div>
          </div>
        </div>
        <div class="hero__image">
          <img src="img/hero.jpg" alt="Hero Ujjo">
        </div>
      </div>
      <div class="hero__right">
        <h1 class="hero__title">
          THE FIRST HOT SAUCE MADE FOR COFFEE
        </h1>
        <div class="hero__image">
          <img src="img/hero-2.jpg" alt="Hero Ujjo in hand">
        </div>
      </div>
    </div>
  </div>
</section>
