$font-family: "Roboto", sans-serif;
$content-width: 1397px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

// Colors
$light-color: #fff;
$dark-color: #000;
$primary-color: #fb4b4d;
$text-color: #222;
